.embed-responsive {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  height: 100%;
}
.embed-responsive .code-embed-responsive {
  position: absolute;
  display: block;
  width: 80vw;
  height: 80vh;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1.5px solid black;
  box-sizing: border-box;
}
